@tailwind base;
@tailwind components;
@tailwind utilities;

/* focus-visible replacement */
:focus:not(:focus-visible) {
  outline: none;
}
:focus-visible {
  outline: 3px solid rgba(14,165,233,0.2);
  outline-offset: 2px;
}
